<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>A* Search Visualization</title>
</head>
<body>
    <h1>Hope You Enjoyed The Visualization!!</h1>
    <a href="/"><button class="btn btn-primary">Back to HomePage</button></a>
    <div id="outputContainer"></div>

    <script>
        var eventListenerAttached = false;

        function runBFSAlgorithm() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('outputContainer').innerHTML = xhr.responseText;
                }
            };
            xhr.open('GET', '/a_star', true);
            xhr.send();
        }

        // Attach event listener to the button only if it hasn't been attached already
        var scriptBtn = document.getElementById('runScriptBtn');
        if (!eventListenerAttached) {
            eventListenerAttached = true;
            scriptBtn.addEventListener('click', runBFSAlgorithm);
        }
    </script>
</body>
</html>
